
html, body {
   
    margin: 10px;
    width : 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
  }

  .content-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  /* Style the button */
button {
    padding: 10px 20px;
    font-size: 40pt;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-top: 3px;
  }
  
.canvas-container{
  height : 100%;
  width: 100%;
   /* border: 10px solid gray;*/
  border-radius: 12px;
  background-color: white;
  margin : 10px;
  padding-left: 5%;
  
}

.instructions{
 /* border: 10px solid gray;*/
  border-radius: 12px;
  width : 100%;
  background-color: white;
  margin-top: 10px;
  display: flex;

  align-items: center;
  flex-direction: column;
}
.instructions > h3{
  font-size: 25pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
  font-size: 15pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}